.header{
    font-size: 14px;
    font-weight: bold;
    
    

    #navitens{
        font-family: 'Ubuntu', sans-serif;;
        color: #ffffff;

text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
        margin-left: 30px;
        transition: 0.7s;
        &:hover{
        border: 1px solid #ff99cc;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        
    }

    }
}


.container00{
    min-height: 100vh;
    min-width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
#btn,
#btn::after {
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  /* From https://css.glass */
background: rgba(255, 153, 204, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);

text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
  background-color: transparent;
  position: relative;
}

#btn::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#btn:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

#btn:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}


#btn:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 150)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
   .navbar-dark .navbar-toggler{
    border: 1px solid white;
   }
.arrowDown{
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

.logo-site{
    width: 220px;
    margin-left: -30px;
    margin-right: 20px;
}
.footer{
    height: 15vh;
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content:center ;
    

    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: $link-hover;
        }
    }
    .copy{
        color: $copy-color;

    }
}



// media query


@media(max-width:405px){
    .logo-site{
       width: 180px;
       margin-top: 15px;

    }
    .footer{
        font-size: 10px;
    }
    .container00{
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }
}


@media(max-width:350px){
    .logo-site{
        width: 150px;
        margin-top: 15px
    }
    .container00{
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       
    }
}
